Comments

In [1]:
# Here in this cell i write program to practice python comments
# This program print some content
print("Pakistan") #Country name
print("Pakistan,[e] officially the Islamic Republic of Pakistan,[f] is a country in South Asia.")
print("It is the fifth-most populous country, with a population of over 241.5 million")  #population
print("Islamabad is the nation's capital, while Karachi is its largest city and financial centre.")  #capital and largest city

Pakistan
Pakistan,[e] officially the Islamic Republic of Pakistan,[f] is a country in South Asia.
It is the fifth-most populous country, with a population of over 241.5 million
Islamabad is the nation's capital, while Karachi is its largest city and financial centre.

Escape Sequence characters

In [3]:
#I am witing qoute in this cell to practice escape sequence charaters
print('"just one small \n positive thought in the \n morning can change your whole day."')

"just one small
 positive thought in the
 morning can change your whole day."

**Variable and Datatypes :**
 Create variables to store your name, age, and whether you're enjoying learning Python (use a boolean). Then print these variables

In [9]:
#creating variables
name = "Laiba"
age = int(25)
enjoyingPython = True
print(name, "\n" , age,  "\n", enjoyingPython)

Laiba
 25
 True

**Operator and Type casting: **
Create a program that asks for two numbers as input, adds them, and prints the result along with their data types before and after type casting.

In [12]:
a = input("Enter a first number :")
b = input("Enter a second number :")
sum = int(a) + int(b)
print("Sum is : ", sum)
print("Datatype before sum is : \n a is", type(a))
print(" b is", type(b))
print("Datatype after sum is : ", type(sum))

Enter a first number :2
Enter a second number :3
Sum is :  5
Datatype before sum is :
 a is <class 'str'>
 ba is <class 'str'>
Datatype after sum is :  <class 'int'>

**String slicing:**
Write a program that takes your name as input and prints:
The first three characters
The last three characters
The name in reverse order

In [20]:
name = input("Enter your name :")
print("First three characters are :", name[:3])
print("Last three characters are :", name[-3:])
print("Reverse :", name[::-1])

Enter your name :laiba
First three characters are : lai
Last three characters are : iba
Reverse : abial

In [5]:
# Task 1: Extract Substrings
# Write a program that takes a string input from the user and prints:
# The first 4 characters.
# The last 4 characters.
# The substring from the 3rd to the 8th character (inclusive of 3rd but not 8th).
a = input("Enter a string")
# print (a)
print(a[:5])
print(a[-4:])
print(a[2:9])

Enter a stringgood morning pakistan
good morning pakistan
good
stan
od morn

In [16]:
# Task 2: Reverse the String
# Write a program that takes a string from the user and prints:
# The string reversed.
# Every second character from the reversed string.
# Task 2: Reverse the String
user_input = input("Enter a string: ")
# Print the reversed string
reversed_string = user_input[::-1]
print("Reversed string:", reversed_string)

# Print every second character from the reversed string
every_second_char = reversed_string[::2]
print("Every second character from the reversed string:", every_second_char)

Enter a string:  good
Reversed string: doog
Every second character from the reversed string: do

**String Methods:**
 Take a sentence as input and:
Convert it to uppercase
Count how many times a specific letter appears Check if the string starts with a particular word

In [29]:
#Taking input from user
a = input("Enter a sentence")
print(a)
print("Diplays the given string in upparcase :", a.capitalize())
print("How many \" o \" in the given string : " , a.count("o"))
print("Check the given string starts with \" A \" :", a.startswith("A"))

Enter a sentencelaiba
laiba
Diplays the given string in upparcase : Laiba
How many " o " in the given string :  0
Check the given string starts with " A " : False